.App {
  text-align: left;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.App-link {
  color: #09d3ac;
}

.ctLogo {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

li {
  list-style: none;
}
.ctInterfaz {
  margin: 0;
  min-height: 100vh;
  width: 30%;
  -webkit-box-shadow: 6px 1px 10px 0px rgba(196, 196, 196, 1);
  -moz-box-shadow: 6px 1px 10px 0px rgba(196, 196, 196, 1);
  box-shadow: 6px 1px 10px 0px rgba(196, 196, 196, 1);
}

.ctInterfaz li {
  width: 100%;
}
.btnSummary {
  width: 100%;
  height: 61px;
  background-color: #333333;
  z-index: 9;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.btnSummary:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #6f6f6f;
  transition: all 0.3s;
  cursor: pointer;
}
.btnSummary span {
  color: white;
}

.ftCategories:hover,
.ctOptionText:hover {
  font-weight: 500;
  cursor: pointer;
}

.selected {
  position: relative;
  left: -20px;
  bottom: -4px;
}

.ctOptionText {
  padding-top: 10px;
  display: flex;
}

.ctOptionText.grilla {
  flex-basis: 50%;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: thin;
  padding-left: 30px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.ctGralOptions {
  background-color: #eaeef3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px 0 0 35px;
}
.ctGralOptions.grilla {
  flex-direction: row;
}

.ctGralOptions.open {
  max-height: 1000px;
  transition: max-height 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.ctGralOptions.closed {
  max-height: 0;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  overflow: hidden;
  padding: 0;
}

.ctDetalles {
  font-size: 13px;
  margin-right: 15px;
  font-style: italic;
  font-weight: 500;
  margin-left: auto;
}

.ctDerecha {
  width: 70%;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
}

.ctImagen {
  z-index: 0;
  margin-top: 20px;
}

.ctImagen img {
  max-width: 100%;
  height: auto;
}

.btnSave {
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
}

#btnAtrasMain,
#btnAtrasSave {
  position: fixed;
  right: 0;
}

.progreso {
  width: 5px;
  margin: 0px 0 0px 0;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.progreso.done {
  background-color: #00e6a2;
}
.progreso.missing {
  background-color: #c50000;
}
.ctAlert {
  position: relative;
  display: flex;
  width: 500px;
  height: 200px;
  margin: auto;
  margin-top: 200px;
}
.ctAlert strong {
  margin: auto;
}
